{
  "singleQuote": true,
  "printWidth": 108,
  "jsxBracketSameLine": true,
  "editor.formatOnSave": true,
  "bracketSpacing": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  }
}
